@charset "UTF-8";
/*! modern-normalize v0.6.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/**
Use a more readable tab size (opinionated).
*/
:root {
  -moz-tab-size: 4;
  -o-tab-size: 4;
     tab-size: 4;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
*/
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/*
Sections
========
*/
/**
Remove the margin in all browsers.
*/
body {
  margin: 0;
}

/**
Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

/*
Grouping content
================
*/
/**
Add the correct height in Firefox.
*/
hr {
  height: 0;
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
1. Remove the inheritance of text transform in Firefox.
*/
button,
select {
  /* 1 */
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Correct the padding in Firefox.
*/
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

:root {
  --main-text-color: #303030;
  --fone-text-color: #9da4bd;
  --pretitle-text-color: rgba(157, 164, 189, 0.6);
  --first-title-color: #ffffff;
  --second-title-color: #303030;
  --accent-color: #ff6c00;
  --content-text-color: #555555;
  --second-fone-color: #f7f7f7;
  --main-fone-color: #ffffff;
  --margin-between: 20px;
  --animation-function: cubic-bezier(0.4, 0, 0.2, 1);
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  /* outline: 1px solid red; */
}

body {
  font-family: "Open Sans", sans-serif;
  background-color: var(--main-fone-color);
  color: var(--main-text-color);
}

.section {
  padding-top: 130px;
  padding-bottom: 130px;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
}

img {
  display: block;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* скриваєм крапки, підкреслення */
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

/* скриті заголовки */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.btn {
  font-family: inherit;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  border: 1px solid var(--accent-color);
  border-radius: 25px;
  background-color: transparent;
  height: 40px;
  min-width: 160px;
  cursor: pointer;
  padding: 12px 20px;
  -webkit-transition: background-color 300ms linear, color 300ms linear;
  transition: background-color 300ms linear, color 300ms linear;
}

.btn:hover {
  background-color: var(--accent-color);
  color: var(--first-title-color);
}

.btn__header {
  color: var(--first-title-color);
  margin-right: 5px;
}

.btn__header:hover {
  color: var(--main-text-color);
}

.pre-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.pre-title::before {
  content: "";
  margin-right: 20px;
  -webkit-box-pack: baseline;
      -ms-flex-pack: baseline;
          justify-content: baseline;
  height: 1px;
  width: 63px;
  background-color: currentColor;
}

.title {
  font-weight: 700;
  font-size: 42px;
  line-height: 1.17;
  letter-spacing: 0.05em;
}

.after-title {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
}

.header {
  padding-top: 32px;
  padding-bottom: 32px;
  position: absolute;
  width: 100%;
}

.header__logo {
  margin-right: 70px;
}

.header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
}

.header__tel {
  margin-right: 40px;
}

.header__item:not(:last-child) {
  margin-right: 40px;
}

.header__link,
.header__tel {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  color: var(--first-title-color);
  -webkit-transition: color 300ms linear;
  transition: color 300ms linear;
}

.header__link:hover,
.header__link:focus,
.header__tel:hover,
.header__tel:focus {
  color: var(--accent-color);
}

.hero .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hero__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 93px;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding-top: 22px;
  padding-bottom: 40px;
  padding-left: 25px;
}

.hero__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transform: rotate(-90deg) translate(-19px);
          transform: rotate(-90deg) translate(-19px);
  -webkit-transform-origin: top left;
          transform-origin: top left;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.hero__list::before {
  content: "";
  height: 1px;
  width: 60px;
  background-color: #303030;
  margin-right: 40px;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.hero__item:last-child {
  margin-left: 30px;
}

.hero__link {
  font: inherit;
  font-style: normal;
  font-weight: 600;
  color: var(--main-text-color);
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
  -webkit-transition: color 300ms linear;
  transition: color 300ms linear;
}
.hero__link:hover, .hero__link:focus {
  color: var(--accent-color);
}

.pre-title--hero {
  color: var(--pretitle-text-color);
}

.hero__title {
  margin-bottom: var(--margin-between);
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 72px;
  line-height: 1.18;
  letter-spacing: 0.05em;
  color: var(--first-title-color);
}

.hero__after-title {
  text-align: left;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.36;
  letter-spacing: 0.02em;
  color: var(--fone-text-color);
  width: 400px;
}

.hero__content {
  padding: 272px 0 206px 96px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  background-color: #191c26;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(25, 28, 38, 0.2)), to(rgba(25, 28, 38, 0.2))), url(../image/hero-main.jpg);
  background-image: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)), url(../image/hero-main.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.service {
  margin: 0 auto;
  background-color: #191c26;
  background-image: url(../image/price\ .png);
  max-width: 1280px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.service-pre-title {
  color: var(--pretitle-text-color);
}

.service-title {
  margin-bottom: 40px;
  color: var(--first-title-color);
}

/* ПОСЛУГИ І ЦІНИ */
.price-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 50px;
}

.price-list.first {
  background: -webkit-gradient(linear, left top, left bottom, from(#171a24), to(rgba(23, 26, 36, 0.2)));
  background: linear-gradient(180deg, #171a24 0%, rgba(23, 26, 36, 0.2) 100%);
}

.price-list.second {
  background: -webkit-gradient(linear, left top, left bottom, from(#090b13), to(rgba(9, 11, 19, 0.2)));
  background: linear-gradient(180deg, #090b13 0%, rgba(9, 11, 19, 0.2) 100%);
}

.price-list {
  padding: 30px 40px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  border: 1px solid white;
}

.price-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}
.price-item::before {
  content: "";
  height: 1px;
  margin-left: 6px;
  margin-right: 6px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  background-color: var(--content-text-color);
}

.price-item-text:first-child {
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
}

.price-item-text {
  margin-bottom: 20px;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: var(--fone-text-color);
}

.price-btn {
  display: block;
  margin: 0 auto;
  color: var(--first-title-color);
}
.price-btn:hover {
  color: var(--main-text-color);
}

.about .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about__item:last-child {
  margin-left: 30px;
}

.about-content {
  margin-left: 64px;
}

.about-pre,
.about-title {
  color: var(--main-text-color);
}

.about-after {
  margin-bottom: 20px;
  color: var(--content-text-color);
}

.about-text {
  margin-bottom: 40px;
  font-size: 14px;
  line-height: 1.86;
  letter-spacing: 0.02em;
  color: var(--content-text-color);
}

.about-btn {
  color: var(--second-title-color);
}

.advanteges .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.advanteges-list {
  width: 370px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.advantege-block,
.advantege-cont {
  width: calc(50% - 15px);
}

.advantege-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.advant-item {
  padding: 20px 24px;
  width: 170px;
  height: 133px;
  background-color: var(--second-fone-color);
}

.advant-item:nth-child(odd) {
  margin-right: 30px;
}

.advant-item:nth-child(even) {
  margin-top: 30px;
}

.achivment {
  display: block;
  margin-bottom: 6px;
  font-weight: 700;
  font-size: 42px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.05em;
  color: var(--main-text-color);
}

.achivment-about {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-align: center;
  color: var(--main-text-color);
}

.advanteges-about {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  width: 500px;
}

.advantege-cont {
  padding-top: 10px;
}

.advanteges-title {
  margin-top: var(--margin-between);
  margin-bottom: var(--margin-between);
  max-width: 500px;
}

.masters {
  background-color: var(--second-fone-color);
}

.master-title {
  margin-bottom: 44px;
}

.masters-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -30px;
}

.masters-content {
  -ms-flex-preferred-size: calc(33.3333333333% - 30px);
      flex-basis: calc(33.3333333333% - 30px);
  margin-left: 30px;
}

.masters-content article {
  display: block;
  width: 360px;
}

.master-name {
  display: block;
  margin: 30px 0 8px 0;
  font-size: 18px;
  line-height: 1.39;
  text-align: center;
  letter-spacing: 0.02em;
}

.position {
  display: block;
  margin-bottom: 30px;
  font-size: 14px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.social-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: var(--main-fone-color);
  width: 44px;
  height: 44px;
  border-radius: 50%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: fill 250ms var(--animation-function);
  transition: fill 250ms var(--animation-function);
}

.social-link:hover,
.social-link:focus {
  fill: var(--accent-color);
  -webkit-transition: fill 250ms var(--animation-function);
  transition: fill 250ms var(--animation-function);
}

.social li + li {
  margin-left: 10px;
}

.galery-pre {
  margin-bottom: 44px;
}

.galery-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -30px;
  margin-bottom: -30px;
}

.galery-item {
  -ms-flex-preferred-size: calc(25% - 30px);
      flex-basis: calc(25% - 30px);
  margin-left: 30px;
  margin-bottom: 30px;
}

.comunication {
  background-image: url(../image/Bg-contact.png);
  background-color: #191c26;
  background-repeat: no-repeat;
  background-position: right;
  max-width: 1280px;
  margin: 0 auto;
  background-size: calc(50% - 15px);
}

.comunication .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.adress {
  width: calc(50% - 15px);
  padding-top: 130px;
  padding-bottom: 130px;
  padding-left: 100px;
}

.contact-title {
  margin-bottom: 40px;
  color: var(--first-title-color);
}

.contacts-link {
  font-style: normal;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: var(--fone-text-color);
}

.adress ul {
  margin-bottom: 70px;
}

.contact-item:not(last-child) {
  margin-bottom: var(--margin-between);
}

.contact-item [href] {
  display: inline-block;
  width: 230px;
}

.schedual-title {
  margin-bottom: var(--margin-between);
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--first-title-color);
}

.schedual {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: var(--fone-text-color);
}

.online__title {
  color: var(--first-title-color);
  margin-bottom: 44px;
}

.online {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding-top: 130px;
  padding-bottom: 130px;
  padding-right: 40px;
}

.form {
  max-width: 100%;
  margin-bottom: 44px;
}

.form__cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 44px;
}

.form__fild {
  position: relative;
}

.form__name {
  position: absolute;
  left: 0;
  width: 270px;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: rgba(157, 164, 189, 0.6);
  cursor: pointer;
  -webkit-transition: color 300ms, -webkit-transform 300ms;
  transition: color 300ms, -webkit-transform 300ms;
  transition: transform 300ms, color 300ms;
  transition: transform 300ms, color 300ms, -webkit-transform 300ms;
}

.form__tel {
  position: absolute;
  left: 0;
  width: 260px;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: rgba(157, 164, 189, 0.6);
  cursor: pointer;
  -webkit-transition: color 300ms, -webkit-transform 300ms;
  transition: color 300ms, -webkit-transform 300ms;
  transition: transform 300ms, color 300ms;
  transition: transform 300ms, color 300ms, -webkit-transform 300ms;
}

.form__input {
  border: transparent;
  background-color: transparent;
  outline: none;
  cursor: pointer;
  width: 260px;
  height: 24px;
  border-bottom: 1px solid rgba(157, 164, 189, 0.6);
  color: #ffffff;
}
.form__input:focus {
  border-bottom: 1px solid #ffffff;
}
.form__input:not(:-moz-placeholder-shown) + .form__name, .form__input:not(:-moz-placeholder-shown) + .form__tel {
  transform: translateY(-100%);
  color: #ffffff;
}
.form__input:not(:-ms-input-placeholder) + .form__name, .form__input:not(:-ms-input-placeholder) + .form__tel {
  transform: translateY(-100%);
  color: #ffffff;
}
.form__input:focus + .form__name, .form__input:focus + .form__tel, .form__input:not(:placeholder-shown) + .form__name, .form__input:not(:placeholder-shown) + .form__tel {
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  color: #ffffff;
}

.text-area__field {
  position: relative;
}

.textarea {
  width: 100%;
  height: 80px;
  background-color: transparent;
  outline: none;
  border: transparent;
  border-bottom: 1px solid rgba(157, 164, 189, 0.6);
  resize: none;
  color: #ffffff;
  cursor: pointer;
}
.textarea:focus {
  border-bottom: 1px solid #ffffff;
}
.textarea:not(:-moz-placeholder-shown) + .text__lable {
  transform: translateY(-100%);
  color: #ffffff;
}
.textarea:not(:-ms-input-placeholder) + .text__lable {
  transform: translateY(-100%);
  color: #ffffff;
}
.textarea:focus + .text__lable, .textarea:not(:placeholder-shown) + .text__lable {
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  color: #ffffff;
}

.text__lable {
  position: absolute;
  left: 0;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: rgba(157, 164, 189, 0.6);
  cursor: pointer;
  -webkit-transition: color 300ms, -webkit-transform 300ms;
  transition: color 300ms, -webkit-transform 300ms;
  transition: transform 300ms, color 300ms;
  transition: transform 300ms, color 300ms, -webkit-transform 300ms;
}

.form__btn {
  margin: auto;
  margin-top: 44px;
  display: block;
  margin: 0 auto;
  color: var(--first-title-color);
}
.form__btn:hover {
  color: var(--main-text-color);
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 55px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
}

.footer-link li:last-child {
  margin-left: 40px;
}

.copyright {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
  color: var(--fone-text-color);
}

.social {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
  color: var(--fone-text-color);
  -webkit-transition: color 300ms;
  transition: color 300ms;
}
.social:hover, .social:focus {
  color: #ff6c00;
}

.backdrop {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(85, 85, 85, 0.431);
  -webkit-transition: opacity 300ms, visibility 300ms;
  transition: opacity 300ms, visibility 300ms;
}

.backdrop.is-hidden .modal {
  -webkit-transform: rotate(0) scale(0.3);
          transform: rotate(0) scale(0.3);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: rotate(360deg) translate(-50%, -50%) scale(1);
          transform: rotate(360deg) translate(-50%, -50%) scale(1);
  width: 500px;
  min-height: 550px;
  background-color: #ffffff;
  border-radius: 5px;
  -webkit-transition: -webkit-transform 300ms;
  transition: -webkit-transform 300ms;
  transition: transform 300ms;
  transition: transform 300ms, -webkit-transform 300ms;
}

.modal-close {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 30px;
  height: 30px;
  border: 1px solid #999999;
  border-radius: 50%;
  background-color: transparent;
  -webkit-transition: border-color 200ms, color 200ms;
  transition: border-color 200ms, color 200ms;
}
.modal-close:hover, .modal-close:focus {
  border-color: #ff6c00;
  color: #ff6c00;
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal__content {
  padding: 40px 25px 25px 25px;
  text-align: center;
}

.modal__form {
  margin-bottom: 70px;
}

.modal__title {
  margin-bottom: 30px;
}

.modal__cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 60px;
}

.modal__field {
  position: relative;
  width: 100%;
}
.modal__field:last-child {
  margin-top: 30px;
}

.modal__lable {
  position: absolute;
  left: 0;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #303030;
  cursor: pointer;
  -webkit-transition: color 300ms, -webkit-transform 300ms;
  transition: color 300ms, -webkit-transform 300ms;
  transition: transform 300ms, color 300ms;
  transition: transform 300ms, color 300ms, -webkit-transform 300ms;
}

.modal__input {
  border: transparent;
  background-color: transparent;
  outline: none;
  cursor: pointer;
  width: 100%;
  height: 24px;
  border-bottom: 1px solid #303030;
  color: #303030;
}
.modal__input:focus {
  border-bottom: 1px solid #ff6c00;
}
.modal__input:not(:-moz-placeholder-shown) + .modal__lable {
  transform: translateY(-100%);
  color: #ff6c00;
}
.modal__input:not(:-ms-input-placeholder) + .modal__lable {
  transform: translateY(-100%);
  color: #ff6c00;
}
.modal__input:focus + .modal__lable, .modal__input:not(:placeholder-shown) + .modal__lable {
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  color: #ff6c00;
}

.modal-text__field {
  position: relative;
}

.modal__textarea {
  width: 100%;
  height: 80px;
  background-color: transparent;
  outline: none;
  border: transparent;
  border-bottom: 1px solid #303030;
  resize: none;
  color: #303030;
  cursor: pointer;
}
.modal__textarea:focus {
  border-bottom: 1px solid #ff6c00;
}
.modal__textarea:not(:-moz-placeholder-shown) + .modal-text__lable {
  transform: translateY(-100%);
  color: #ff6c00;
}
.modal__textarea:not(:-ms-input-placeholder) + .modal-text__lable {
  transform: translateY(-100%);
  color: #ff6c00;
}
.modal__textarea:focus + .modal-text__lable, .modal__textarea:not(:placeholder-shown) + .modal-text__lable {
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  color: #ff6c00;
}

.modal-text__lable {
  position: absolute;
  left: 0;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #303030;
  cursor: pointer;
  -webkit-transition: color 300ms, -webkit-transform 300ms;
  transition: color 300ms, -webkit-transform 300ms;
  transition: transform 300ms, color 300ms;
  transition: transform 300ms, color 300ms, -webkit-transform 300ms;
}/*# sourceMappingURL=main.css.map */