@charset "UTF-8";
/*! modern-normalize v0.6.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/**
Use a more readable tab size (opinionated).
*/
:root {
  -moz-tab-size: 4;
  -o-tab-size: 4;
     tab-size: 4;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
*/
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/*
Sections
========
*/
/**
Remove the margin in all browsers.
*/
body {
  margin: 0;
}

/**
Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

/*
Grouping content
================
*/
/**
Add the correct height in Firefox.
*/
hr {
  height: 0;
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
1. Remove the inheritance of text transform in Firefox.
*/
button,
select {
  /* 1 */
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Correct the padding in Firefox.
*/
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

html,
body {
  /* Убирает прокрутку по горизонтале, для мобильной версии */
  overflow-x: hidden;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* скриваєм крапки, підкреслення */
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

/* скриті заголовки */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

:root {
  --main-text-color: #303030;
  --fone-text-color: #9da4bd;
  --pretitle-text-color: rgba(157, 164, 189, 0.6);
  --first-title-color: #ffffff;
  --second-title-color: #303030;
  --accent-color: #ff6c00;
  --content-text-color: #555555;
  --second-fone-color: #f7f7f7;
  --main-fone-color: #ffffff;
  --margin-between: 20px;
  --animation-function: cubic-bezier(0.4, 0, 0.2, 1);
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

body {
  font-family: "Open Sans", sans-serif;
  background-color: var(--main-fone-color);
  color: var(--main-text-color);
}

.section {
  padding-top: 84px;
  padding-bottom: 84px;
}
@media screen and (min-width: 768px) {
  .section {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}
@media screen and (min-width: 1200px) {
  .section {
    padding-top: 130px;
    padding-bottom: 130px;
  }
}

.comunication {
  background-color: #191c26;
}
@media screen and (min-width: 1200px) {
  .comunication {
    background-repeat: no-repeat;
    background-position: right;
    max-width: 1280px;
    margin: 0 auto;
    background-size: calc(50% - 15px);
  }
}

@media screen and (min-width: 1200px) {
  .comunication .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.btn {
  font-family: inherit;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  border: 1px solid var(--accent-color);
  border-radius: 25px;
  background-color: transparent;
  height: 40px;
  min-width: 160px;
  cursor: pointer;
  padding: 12px 20px;
  -webkit-transition: background-color 300ms linear, color 300ms linear;
  transition: background-color 300ms linear, color 300ms linear;
}

.btn:hover {
  background-color: var(--accent-color);
  color: var(--first-title-color);
}

.btn__header {
  color: var(--first-title-color);
  margin-right: 5px;
}

.btn__header:hover {
  color: var(--main-text-color);
}

.pre-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
.pre-title::before {
  content: "";
  margin-right: 20px;
  -webkit-box-pack: baseline;
      -ms-flex-pack: baseline;
          justify-content: baseline;
  height: 1px;
  width: 63px;
  background-color: currentColor;
}

.title {
  font-size: 28px;
  line-height: 1.18;
  font-weight: 700;
  letter-spacing: 0.05em;
}
@media screen and (min-width: 1200px) {
  .title {
    font-size: 42px;
    line-height: 1.17;
  }
}

.after-title {
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0.02em;
}
@media screen and (min-width: 1200px) {
  .after-title {
    font-size: 18px;
    line-height: 1.67;
  }
}

.pre-title--hero {
  color: var(--pretitle-text-color);
}

.hero__title {
  margin-bottom: var(--margin-between);
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0.05em;
  color: var(--first-title-color);
  font-size: 48px;
  line-height: 1.17;
}
@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 72px;
    line-height: 1.18;
  }
}

.hero__after-title {
  text-align: left;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0.02em;
  color: var(--fone-text-color);
  width: 400px;
}
@media screen and (min-width: 1200px) {
  .hero__after-title {
    font-size: 18px;
    line-height: 1.36;
  }
}

.section__color {
  background-color: var(--second-fone-color);
}

.master-title {
  margin-bottom: 44px;
}

.masters-card {
  margin: auto;
}
@media screen and (min-width: 1200px) {
  .masters-card {
    margin: -30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.masters-content {
  text-align: center;
}
.masters-content:not(:last-child) {
  margin-bottom: 64px;
}
@media screen and (min-width: 1200px) {
  .masters-content {
    width: calc(33.3333333333% - 30px);
    margin: 15px;
  }
}

.masters-content article {
  display: block;
  width: 360px;
}

.master-name {
  display: block;
  margin: 30px 0 8px 0;
  font-size: 18px;
  line-height: 1.39;
  text-align: center;
  letter-spacing: 0.02em;
}

.position {
  display: block;
  margin-bottom: 30px;
  font-size: 14px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.social-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: var(--main-fone-color);
  width: 44px;
  height: 44px;
  border-radius: 50%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: fill 250ms var(--animation-function);
  transition: fill 250ms var(--animation-function);
}

.social-link:hover,
.social-link:focus {
  fill: var(--accent-color);
  -webkit-transition: fill 250ms var(--animation-function);
  transition: fill 250ms var(--animation-function);
}

.social li + li {
  margin-left: 10px;
}

.galery-pre {
  margin-bottom: 44px;
}

@media screen and (min-width: 768px) {
  .galery-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: -30px;
  }
}

.galery-item:not(:last-child) {
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .galery-item {
    margin: 15px;
    width: calc(50% - 30px);
  }
}
@media screen and (min-width: 1200px) {
  .galery-item {
    width: calc(25% - 30px);
  }
}

.comunication .adress {
  background-image: url(../image/contact/Bgback_m-min.png);
}
@media screen and (min-width: 768px) {
  .comunication .adress {
    background-image: url(../image/contact/Bgback_t-min.png);
  }
}
@media screen and (min-width: 1200px) {
  .comunication .adress {
    background-image: url(../image/contact/Bgback_d-min.png);
    width: calc(50% - 15px);
    padding-top: 130px;
    padding-bottom: 130px;
    padding-left: 100px;
  }
}

.contact-title {
  margin-bottom: 40px;
  color: var(--first-title-color);
}

.contacts-link {
  font-style: normal;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: var(--fone-text-color);
}

.adress ul {
  margin-bottom: 70px;
}

.contact-item:not(last-child) {
  margin-bottom: var(--margin-between);
}

.contact-item [href] {
  display: inline-block;
  width: 230px;
}

.schedual-title {
  margin-bottom: var(--margin-between);
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--first-title-color);
}

.schedual {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: var(--fone-text-color);
}

.online__title {
  color: var(--first-title-color);
  margin-bottom: 44px;
}

.online {
  padding: 84px 0;
}
@media screen and (min-width: 768px) {
  .online {
    padding: 100px 0;
  }
}
@media screen and (min-width: 1200px) {
  .online {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    padding: 130px 40px 130px 0;
  }
}

.form {
  max-width: 100%;
  margin-bottom: 44px;
}

.form__cont {
  margin-bottom: 44px;
}
@media screen and (min-width: 768px) {
  .form__cont {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.form__fild {
  position: relative;
}
.form__fild:first-of-type {
  margin-bottom: 44px;
}
.form__name {
  position: absolute;
  left: 0;
  width: 270px;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: rgba(157, 164, 189, 0.6);
  cursor: pointer;
  -webkit-transition: color 300ms, -webkit-transform 300ms;
  transition: color 300ms, -webkit-transform 300ms;
  transition: transform 300ms, color 300ms;
  transition: transform 300ms, color 300ms, -webkit-transform 300ms;
}

.form__tel {
  position: absolute;
  left: 0;
  width: 260px;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: rgba(157, 164, 189, 0.6);
  cursor: pointer;
  -webkit-transition: color 300ms, -webkit-transform 300ms;
  transition: color 300ms, -webkit-transform 300ms;
  transition: transform 300ms, color 300ms;
  transition: transform 300ms, color 300ms, -webkit-transform 300ms;
}

.form__input {
  border: transparent;
  background-color: transparent;
  outline: none;
  cursor: pointer;
  height: 24px;
  border-bottom: 1px solid rgba(157, 164, 189, 0.6);
  color: #ffffff;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .form__input {
    width: 330px;
  }
}
@media screen and (min-width: 1200px) {
  .form__input {
    width: 260px;
  }
}
.form__input:focus {
  border-bottom: 1px solid #ffffff;
}
.form__input:not(:-moz-placeholder-shown) + .form__name, .form__input:not(:-moz-placeholder-shown) + .form__tel {
  transform: translateY(-100%);
  color: #ffffff;
}
.form__input:not(:-ms-input-placeholder) + .form__name, .form__input:not(:-ms-input-placeholder) + .form__tel {
  transform: translateY(-100%);
  color: #ffffff;
}
.form__input:focus + .form__name, .form__input:focus + .form__tel, .form__input:not(:placeholder-shown) + .form__name, .form__input:not(:placeholder-shown) + .form__tel {
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  color: #ffffff;
}

.text-area__field {
  position: relative;
}

.textarea {
  width: 100%;
  height: 80px;
  background-color: transparent;
  outline: none;
  border: transparent;
  border-bottom: 1px solid rgba(157, 164, 189, 0.6);
  resize: none;
  color: #ffffff;
  cursor: pointer;
}
.textarea:focus {
  border-bottom: 1px solid #ffffff;
}
.textarea:not(:-moz-placeholder-shown) + .text__lable {
  transform: translateY(-100%);
  color: #ffffff;
}
.textarea:not(:-ms-input-placeholder) + .text__lable {
  transform: translateY(-100%);
  color: #ffffff;
}
.textarea:focus + .text__lable, .textarea:not(:placeholder-shown) + .text__lable {
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  color: #ffffff;
}

.text__lable {
  position: absolute;
  left: 0;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: rgba(157, 164, 189, 0.6);
  cursor: pointer;
  -webkit-transition: color 300ms, -webkit-transform 300ms;
  transition: color 300ms, -webkit-transform 300ms;
  transition: transform 300ms, color 300ms;
  transition: transform 300ms, color 300ms, -webkit-transform 300ms;
}

.form__btn {
  margin: auto;
  display: block;
  margin: 0 auto;
  color: var(--first-title-color);
}
@media screen and (min-width: 768px) {
  .form__btn {
    margin: 0;
  }
}
.form__btn:hover {
  color: var(--main-text-color);
}

@media screen and (min-width: 768px) {
  .footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 55px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.footer-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer-list::before {
  content: "";
  margin-right: 20px;
  -webkit-box-pack: baseline;
      -ms-flex-pack: baseline;
          justify-content: baseline;
  height: 1px;
  width: 63px;
  background-color: var(--fone-text-color);
}

.footer-item:last-child {
  margin-left: 40px;
}

.copyright {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
  color: var(--fone-text-color);
}

.social {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
  color: var(--fone-text-color);
  -webkit-transition: color 300ms;
  transition: color 300ms;
}
.social:hover, .social:focus {
  color: #ff6c00;
}/*# sourceMappingURL=main.css.map */