.btn {
    font-family: inherit;
    font-weight: 600;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.09em;
    text-transform: uppercase;
    border: 1px solid var(--accent-color);
    border-radius: 25px;
    background-color: transparent;
    height: 40px;
    min-width: 160px;
    cursor: pointer;
    padding: 12px 20px;
    transition: background-color 300ms linear, color 300ms linear;
}

.btn:hover {
    background-color: var(--accent-color);
    color: var(--first-title-color);
}

.btn__header {
    color: var(--first-title-color);
    margin-right: 5px;
}

.btn__header:hover {
    color: var(--main-text-color);
}