.footer {

    @include tablet {

        display: flex;
        padding: 55px;
        align-items: center;
    }
}

.footer-list {
    display: flex;
    margin-left: auto;
    align-items: center;

    &::before {
        content: '';
        margin-right: 20px;
        justify-content: baseline;
        height: 1px;
        width: 63px;
        background-color: var(--fone-text-color);
    }
}

.footer-item:last-child {
    margin-left: 40px;
}

.copyright {
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    letter-spacing: 0.2em;
    color: var(--fone-text-color);
}

.social {
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    letter-spacing: 0.2em;
    color: var(--fone-text-color);
    transition: color 300ms;

    &:hover,
    &:focus {
        color: $accent-color;
    }

}