.online__title {
    color: var(--first-title-color);
    margin-bottom: 44px;
}

.online {
    padding: 84px 0;

    @include tablet {
        padding: 100px 0;
    }

    @include desktop {
        flex-grow: 1;
        padding: 130px 40px 130px 0;
    }
}

.form {
    max-width: 100%;
    margin-bottom: 44px;
}

.form__cont {
    margin-bottom: 44px;

    @include tablet {
        display: flex;
        justify-content: space-between;
    }
}

.form__fild {
    position: relative;

    &:first-of-type {
        margin-bottom: 44px;
    }

    @include desktop {}
}

.form__name {
    position: absolute;
    left: 0;
    width: 270px;
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: $pretitle-text-color;
    cursor: pointer;
    transition: transform 300ms,
        color 300ms;
}

.form__tel {
    position: absolute;
    left: 0;
    width: 260px;
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: $pretitle-text-color;
    cursor: pointer;
    transition: transform 300ms, color 300ms;
}

.form__input {
    border: transparent;
    background-color: transparent;
    outline: none;
    cursor: pointer;
    height: 24px;
    border-bottom: 1px solid $pretitle-text-color;
    color: $first-title-color;
    width: 100%;

    @include tablet {
        width: 330px;
    }

    @include desktop {
        width: 260px;
    }

    &:focus {
        border-bottom: 1px solid $first-title-color;
    }

    &:focus+.form__name,
    &:focus+.form__tel,
    &:not(:placeholder-shown)+.form__name,
    &:not(:placeholder-shown)+.form__tel {
        transform: translateY(-100%);
        color: $first-title-color;
    }
}

.text-area__field {
    position: relative;
}

.textarea {
    width: 100%;
    height: 80px;
    background-color: transparent;
    outline: none;
    border: transparent;
    border-bottom: 1px solid $pretitle-text-color;
    resize: none;
    color: $first-title-color;
    cursor: pointer;

    &:focus {
        border-bottom: 1px solid $first-title-color;
    }

    &:focus+.text__lable,
    &:not(:placeholder-shown)+.text__lable {
        transform: translateY(-100%);
        color: $first-title-color;
    }
}

.text__lable {
    position: absolute;
    left: 0;

    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: $pretitle-text-color;
    cursor: pointer;
    transition: transform 300ms, color 300ms;
}


.form__btn {
    margin: auto;
    display: block;
    margin: 0 auto;
    color: var(--first-title-color);

    @include tablet {
        margin: 0;
    }

    &:hover {
        color: var(--main-text-color);
    }
}