.comunication .adress {
    background-image: url(../image/contact/Bgback_m-min.png);

    @include tablet {
        background-image: url(../image/contact/Bgback_t-min.png);
    }

    @include desktop {
        background-image: url(../image/contact/Bgback_d-min.png);
        width: calc(50% - 15px);
        padding-top: 130px;
        padding-bottom: 130px;
        padding-left: 100px;

    }
}

.contact-title {
    margin-bottom: 40px;

    color: var(--first-title-color);
}

.contacts-link {
    font-style: normal;
    font-size: 18px;
    line-height: 1.67;
    letter-spacing: 0.02em;
    color: var(--fone-text-color);
}

.adress ul {
    margin-bottom: 70px;
}

.contact-item:not(last-child) {
    margin-bottom: var(--margin-between);
}

.contact-item [href] {
    display: inline-block;
    width: 230px;
}

.schedual-title {
    margin-bottom: var(--margin-between);

    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;

    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: var(--first-title-color);
}

.schedual {
    font-size: 18px;
    line-height: 1.67;
    letter-spacing: 0.02em;
    color: var(--fone-text-color);
}