.galery-pre {
    margin-bottom: 44px;
}

.galery-list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-bottom: -30px;
}

.galery-item {
    flex-basis: calc(100% / 4 - 30px);
    margin-left: 30px;
    margin-bottom: 30px;
}