.galery-pre {
    margin-bottom: 44px;
}

.galery-list {

    @include tablet {
        display: flex;
        flex-wrap: wrap;
        margin: -30px;
    }
}

.galery-item {
    &:not(:last-child) {
        margin-bottom: 30px;
    }

    @include tablet {
        margin: 15px;
        width: calc(100% / 2 - 30px);
    }

    @include desktop {
        width: calc(100% / 4 - 30px);
    }
}